// COLORS
//  BASICS
$white: #FFF;
$alt-grey: #CBD4D6;
$grey-lightest: #FAFAFA;
$grey-light: #E6E8EB;
$grey: #BEBBBD;
$grey-dark: #817D7F;
$black: #111111;

//  ACCENTS
$accent-primary: #0086FF;
$accent-000: #E6F3FF;
$accent-00: #CCE7FF;
$accent-0: #99CFFF;
$accent-1: #78BFFF;
$accent-2: #59B0FF;
$accent-3: #339EFF;
$accent-4: $accent-primary;
$accent-5: #0064BF;
$accent-6: #005099;

//  OTHER PRIMARY
$green-vlightest: #D9F2DD;
$green-lightest: #B8E6BE;
$green-light: #43BF7A;
$green: #3ACF4D;
$green-dark: #195921;

$yellow-vlightest: #FFF5CC;
$yellow-lightest: #FFEB99;
$yellow-light: #FFDC4D;
$yellow: #FFCD00;
$yellow-dark: #997B00;

$red-vlightest: #FDD3CE;
$red-lightest: #FCA397;
$red-light: #F89188;
$red: #F81300;
$red-dark: #B30E00;
