$line-height: 1.5em;
$none: 0;
$zero: 0;

// padding values
$sm-padding: 7px;
$md-padding: 15px;
$lg-padding: 30px;
$x-lg-padding: 45px;

$-sm-padding: -7px;
$-md-padding: -15px;
$-lg-padding: -30px;
$-x-lg-padding: -45px;

// margin values
$x-sm-margin: 3px;
$sm-margin: 7px;
$md-margin: 15px;
$ml-margin: 25px;
$lg-margin: 30px;
$x-lg-margin: 45px;
$xx-lg-margin: 90px;
